<div class="fruitlist_content">    
    @for(item of fruitlist; track item.name){

        <section class="singleFruitBox">
            <div>
                <img src="./assets/img/fruits/{{item.img}}" alt="" srcset="">
            </div>

            <div>
                <h2> {{item.name}}</h2>

                <div class="stars-section">

                    <!-- with [ngClass] and booleen using -->
                    <h4 [ngClass]="{'fontColorGreenAsTest' : item.stars > 3, 'fontColorRedAsTest' : item.stars < 3}">Bewertung:</h4>
                    <div>

                        <!-- With @for loop -->
                        @for(count of [1, 2, 3, 4, 5]; track count){
                            @if(item.stars >= count){
                                <img src="./assets/img/stars/star.svg" alt="" srcset="">
                            } @else if (item.stars >= count - 0.5){
                                <img src="./assets/img/stars/star-half.svg" alt="" srcset="">
                            } @else {
                                <img src="./assets/img/stars/star-empty.svg" alt="" srcset="">
                            }
                        }
                         <!-- As exercise -- with @switch case -->

                        <!-- @for (count of [1, 2, 3, 4, 5]; track count) {

                            @switch (true) {
                                 @case (item.stars >= count) {
                                    <img src="./assets/img/stars/star.svg" alt="" srcset="">
                                }
                                 @case (item.stars >= count - 0.5) {
                                    <img src="./assets/img/stars/star-half.svg" alt="" srcset="">
                                }
                                @default{
                                    <img src="./assets/img/stars/star-empty.svg" alt="" srcset="">
                                }
                            }
                        } -->
                    

                        <!-- with inline style - [ngStyle] -->
                        <span [ngStyle]="{color: item.stars > 3 ? fontColorGreen : fontColorRed}">({{item.stars}})</span>
                    </div>
                </div>

                <div class="fruits_types"><h4>Art:</h4>
                    <p>{{item.genus}}</p></div>
                
                <div class="about_fruits"><h4>Beschreibung:</h4><p>{{item.description}}</p></div>

                <div class="comments_box">
                    <div>
                        @for(review of item.reviews; track review){
                        <div><h5>{{review.name}}:</h5><p>{{review.text}}</p><br></div>
                        } @empty {
                         no comments
                         }
                    </div>
                    <div>
                        <input type="text">
                            <button><img src="./assets/img/arrow-35-32.png" alt="" srcset=""></button>
                    </div>
                </div>
            </div>
        </section>
    }
</div>